body {
    background-color: rosybrown;
    padding: 200px;
}

.parent {
    background-color: #000;
    width: 100%;
    height: 500px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    align-items: baseline;
}
.child {
    background-color: #fff;
    width: 200px;
    height: 200px;
}

.child2 {
    background-color: #4cdae4;
    width: 200px;
    height: 300px;
}